.day-by-day-div {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.day-text {
  width: 2rem;
}

/* Function each day */
.day-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 0.5px solid gray;
  padding-bottom: 5px;

}

.day-by-day-div p {
  display: inline;
  font-size: 20px;
}



.weather-icon {
  height: 30px;
}
