.day-by-day-div {
  background-color: aquamarine;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Function each day */
.day-div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.day-by-day-div p {
  display: inline;
}

.weather-icon {
  height: 30px;
}
