/* Parent */
.parent-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
  gap: 10px; /* Optional */
}

/* Feels like */
.feels-like-div,
.uv-index-div {
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 255, 0.404);
}

.feels-like-title,
.uv-index-title {
  height: 1.6em;
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
}

.feels-like-content,
.uv-index-content {
  height: 100px;
  background-color: aquamarine;
}
