.feels-like-temp {
    padding-top: 10px;
  font-size: 26px;


  font-weight: bold;
}

.actual-temp {
  font-size: 20px;
  font-weight: bold;
  color: rgb(170, 238, 238);
}

.horizontal-bar {
    background-color: blueviolet;
    height: 20px;
}

.description {
    font-size: 16px;
}

/* Slider indicator */
.horizontal-bar {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #e5e5e5; /* Light gray for the bar track */
    border-radius: 3px;
    margin: 10px 0;
  }
  
  .bar-track {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5; /* Background bar */
    border-radius: 3px;
  }
  
  .bar-filled {
    position: absolute;
    height: 100%;
    background-color: #007aff; /* Blue color for the filled portion */
    border-radius: 3px;
  }
  
  .slider-indicator {
    position: absolute;
    top: -6px;
    width: 30px;
    height: 20px;
    background-color: #007aff; /* Blue circle */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* White text for the temperature */
    font-size: 15px;
    transform: translateX(-50%);
    z-index: 600000000000;
  }
  
  .slider-value {
    margin: 0;
  }

  /* UV-index */
  .uv-index-text {
    font-size: 20px;
    font-weight: bold;
  }

  
  /* Horizontal bar */
  /* styles/uv-index.css */

.uv-horizontal-bar {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #00ff00, /* Green (Low) */
    #ffff00, /* Yellow (Moderate) */
    #ffa500, /* Orange (High) */
    #ff0000, /* Red (Very High) */
    #800080  /* Purple (Extreme) */
  );
  position: relative;
  margin-top: 10px;
  margin-bottom: 5PX;
}

.uv-indicator {
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}