.footer-div {
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  background: linear-gradient(to bottom, #0887c2, #588dbe, #5da2bd, #88dce7);
  display: flex;
  gap: 1rem;
  z-index: 1000;
}

.footer-icon {
  height: 2rem;
  filter: invert(100%);
  cursor: pointer;
}

.dots-menu {
  /* Experimental with dots*/
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  height: 2rem;
}
