.hour-by-hour-div {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
}

/* Each hour div */
.container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  .container-div img {
    height: 1.5rem;
  }