/* Responsive weather header + weather details */
.temp-main-div {
  /*position: sticky;*/
  top: 60px;
  z-index: 50;
  transition: all 0.3s ease;
}

.city-name {
  /*position: sticky;*/
  top: 60px;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

/* ANIMATION - figure it out later */