.wind-map-div {
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 255, 0.404);
}

.wind-map {
  background-color: aquamarine;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
}

.map {
  width: 100%;
  height: 310px;
}
