/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  color: white;

}

#content {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;
}

@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Should stay in shared css */
.icon-title-div {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 0.5px solid gray;
}

.icon {
  height: 1.5rem;
  filter: invert(100%);
}
/**/
.single-widget {
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #256caf;
}

.double-widget {
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #256caf;
}

.single-widget-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
  gap: 10px; /* Optional */
  margin-bottom: 10px;
}

.widget-title {
  height: 1.6em;
  display: flex;
  align-items: center;
  padding-left: 10px;
  flex-grow: 1;
  font-size: 0.9rem;
}

.placeholder-div {
  height: 100px;
  background-color: aquamarine;
}

.double-widget {
  transition: opacity 0.3s ease;
}

/* If statement -> if code inside () is true, media query will kick in */
@media (max-width: 640px) {
  /* local-weather.js */
  .temp-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .city-name {
    font-size: 2.2rem;
  }
  .temp {
    font-size: 6rem;
    font-weight: 300;
    padding-bottom: 0;
  }
  .weather {
    font-size: 1.5rem;
  }
  .high-low-temp {
    font-size: 1.5rem;
  }

  /* hourly-forecast.js */
  .wind-title {
    height: 1.6em;
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-grow: 1;
  }
}
